# Python bytecode files and cache
__pycache__/
*.py[oc]

# Build and distribution folders
build/
dist/
wheels/
*.egg-info

# Environment variable files 
.env
.env.local
.env.*.local

# Virtual environments
venv/
.venv/

# Django stuff
migrations/
*.sqlite3

# Media files (uploaded by users)
media/

# API documentation request files
api.http

# VSCode settings folder
.vscode/
